extends layout.pug

block content
    h1 Update Book
    form
        p
            label(for="title") Title
            input(name="title" type="text" id="title" value=`${bookData.title}`)
        p
            label(for="author") Author
            input(name="author" type="text" id="author" value=`${bookData.author}`)
        p
            label(for="genre") Genre
            input(name="genre" type="text" id="genre" value=`${bookData.genre}`)
        p
            label(for="year") Year
            input(name="year" type="text" id="year" value=`${bookData.year}`)
        p
            input(type="submit" value="Update Book")

        p
            a(class="button" href="/") Cancel
        p
            a(class="button" href=`/books/${bookData.id}/delete`) Delete Book
